*{
    background-color: rgb(198, 198, 198);
}

h1 {
    font-size: 72px;
    text-align: center;
    
}
article{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

#list{
    text-align: start;
}

.aboutMe{
    display: inline-block;
    justify-content: flex-start;
    width: 30%;
    text-align: center;
    margin-left: 100px;
    border-style: double;
}

.projects{
    justify-content: center;
    width: 55%;
    border-style: double;
}

#img1{
    padding: 20px; 
}
#img2{
    padding: 20px;
}
#img3{
    padding: 20px;
}

#img4{
    padding: 20px;
}

#img5{
    padding: 20px;
}

#img6{
    padding: 20px;
}
